numpy
pandas
matplotlib
seaborn
ipykernel
openpyxl
scikit-learn
imblearn
nltk
from-root
tensorflow==2.10
streamlit
mlflow
dagshub
dvc
apache-airflow
azure.storage.blob

# dev requirements -

pytest==7.1.3
tox==3.25.1
black==22.8.0
flake8==5.0.4
mypy==0.971

-e .